* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Text */
    font-family: 'Inter', sans-serif;

    /* Color */
    background-color: #1E1E1E;
    color: #fff;

    /* Position */
    place-items: center;
    height: 100vh;
}

header {
    /* Positioning of the elements inside the header */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 200px;

    position: fixed;
    width: 100%;
}

#form-habits {
    display: flex;

    padding: 182px 48px 48px;
    width: fit-content;
}

.habits {
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin-top: 60px;
}

.habit {
    width: 64px;
    height: 64px;

    font-size: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.days {
    display: flex;
    margin-left: 32px;
    gap: 48px;
}

.day {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.day div {
    margin-bottom: 8px;

    font-family: 'Roboto Mono', monospace;
    font-weight: 700;

    font-size: 20px;
    line-height: 125%;
    text-align: center;

    color: #A1A1AA;
}

button {
    /* Configuration of the button style */
    padding: 15px 24px;
    background-color: transparent;
    color: #fff;
    border: 1px #8b5cf6 solid;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 125%;
    gap: 12px;

    /* Positioning of the elements inside the button */
    display: flex;
    align-items: center;
}

button:hover {
    cursor: pointer;
}

input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;

    width: 64px;
    height: 64px;

    background-color: #18181b;

    border: 2px solid #27272A;
    border-radius: 8px;
}

input[type="checkbox"]:checked {
    background-color: #8B5CF6;
    border: 2px solid #A78BFA;
}

@media (max-width:1000px) {
    button div {
        display: none;
    }

    header {
        /* Positioning of the elements inside the header */
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 48px 100px;

        position: fixed;
        width: 100%;
    }
}